
<h5 class="section-heading">Query</h5>
<div class="gf-form-group">
  <div class="gf-form">
    <div class="gf-form">
      <select class="gf-form-input" ng-model="ctrl.annotation.utc" ng-options="f as f for f in ['utc', 'localtime']"></select>      
    </div>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.query' 
        placeholder="SELECT 'Annotation title' as 'title', GETDATE() as 'time', 'Annotation description' as 'text', 'sql,proxy,server' as 'tags'"></input>
        
  </div>
</div>


